body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 30px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
}

.container {
    background: #2A2A2A;
    padding: 25px;
    border-radius: 12px;
    width: 85%;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.controls .btn,
.effects .efx-btn {
    background: #3A3A3A;
    border: none;
    color: white;
    margin: 5px;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover, .efx-btn:hover {
    background: #4A4A4A;
}

.volume-section {
    margin: 20px 0;
}

#volumeSlider {
    width: 300px;
}

#visualizer {
    background: #1F1F1F;
    margin-top: 20px;
    border-radius: 12px;
    width: 100%;
}

.file-picker {
    margin: 20px 0;
}

.file-picker label {
    margin-right: 10px;
    font-size: 16px;
}

.progress-container {
    margin: 20px auto;
    width: 90%;
}

#progressBar {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 6px;
    background: #3D3D3D;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #4C8DFF;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(76,141,255,0.6);
}

.time-info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 14px;
    color: #B3B3B3;
}

.progress-container {
    position: relative;
    width: 90%;
    margin: 20px auto;
}

#bufferBar {
    position: absolute;
    top: 8px;
    left: 0;
    height: 6px;
    width: 0%;
    background: #7c7c7c; /* abu-abu terang */
    border-radius: 5px;
    pointer-events: none; /* supaya tidak mengganggu slider */
}

#progressBar {
    width: 100%;
    height: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #3D3D3D;
    border-radius: 5px;
    position: relative;
}
